<title>Features</title>
<h1>Features</h1>
<img src="http://s12.postimg.org/ijz7d4oa5/screenshot.jpg" align="RIGHT"><h3>Collect and Monitor Feedback</h3>
<ul>
	<li>Multiple review sites depending on your industry</li>
	<li>Put your custom link on your receipts, in your thank you emails, etc.</li>
	<li>If you get good feedback, we urge the user to leave a review on your chosen sites. If you receive negative feedback, we just send that to you and we do not urge your customers to leave a review online.</li>
</ul>